* {
  margin: 0;
  padding: 0;
  --card-bg-color: #161616;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  --priority-5: red;
  --priority-4: orange;
  --priority-3: yellow;
  --priority-2: darkgreen;
  --priority-1: green;
  --priority-0: white;
}

body {
  background-image: url("./assets/background.png");
  background-color: black;
  height: 100vh;
  background-color: black;

  display: flex;
  align-items: center;
  justify-content: center;
}

.root {
  display: grid;
  grid-template-columns: 1.5fr 4fr 4fr;
  gap: 16px;

  height: 80%;
  width: 80%;
}

.root > * {
  background-color: var(--card-bg-color);
  border-radius: 4px 24px 24px 4px;
  padding: 24px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

img[src$="svg"] {
  height: 19px;
  width: 19px;
}

.project-list > h5 {
  margin: 18px 0;
  padding: 4px;
  font-weight: 100;
  border-radius: 8px;
}

.project-list-container {
  display: flex;
  flex-direction: column;
}

.project-list-container > button {
  margin-top: auto;
  background-color: #037be0;
  padding: 8px 4px;
  border: none;
  outline: none;
  border-radius: 2px 6px 6px 2px;
}

.project-list-container > button:hover {
  margin-top: auto;
  background-color: #004d8b;
  cursor: pointer;
  padding: 8px 4px;
  border: none;
  outline: none;
  border-radius: 2px 6px 6px 2px;
}

.project-list > h5:hover {
  background-color: rgba(85, 85, 85, 0.85);
  cursor: pointer;
}

.tasks .todo-item {
  display: flex;
  justify-content: flex-start;

  padding: 8px;
  margin: 12px;

  border-radius: 2px 8px 8px 2px;
}

.tasks .todo-item:hover {
  background-color: rgba(85, 85, 85, 0.85);
  cursor: pointer;
}

.tasks .todo-item button {
  border-radius: 50%;
  margin-right: 12px;
  height: 20px;
  width: 20px;

  background-color: #161616;
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.tasks .todo-item h5 {
  font-weight: 100;
  border-radius: 8px;
  font-size: 20px;
  pointer-events: none;
}

.tasks .todo-item.checked > button {
  background-color: rgba(85, 85, 85, 0.85);
  border: 1px solid rgba(85, 85, 85, 0.85);
  opacity: 0.75;
  cursor: pointer;
}

.tasks .todo-item.checked > h5 {
  color: rgba(85, 85, 85, 0.85);
  opacity: 0.75;
  text-decoration: line-through;
}

.tasks .todo-item.completed {
  text-decoration: line-through;
  opacity: 0.4;
}

.tasks .todo-item.completed button{
  background-color: white;
}


.task-details div {
  margin: 16px 0;
}

.task-details div h6 {
  font-weight: 100;
  opacity: 0.5;
}

.priority-5 {
  border-left: 4px solid var(--priority-5);
}

.priority-4 {
  border-left: 4px solid var(--priority-4);
}

.priority-3 {
  border-left: 4px solid var(--priority-3);
}

.priority-2 {
  border-left: 4px solid var(--priority-2);
}

.priority-1 {
  border-left: 4px solid var(--priority-1);
}

.priority-0 {
  border-left: 4px solid var(--priority-0);
}
